border-box-html()
normalize-css()

html, body
  font-size: responsive 16px 20px

header, section
  padding: 1rem

.btn
  button()

input
  // mobile styling here to prevent zoom issues
  font-size: 16px

// typography reset
h1
  font-size: 1.5rem

h2
  font-size: 1.25rem

h3
  font-size: 1rem

h4
  font-size: 0.8rem