.error-page
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
    display: flex;
    flex: 1
    align-items: center
    justify-content: center
    h1,
    a
        color: white
        
.error-page__wrapper
    align-content: center
    justify-content: center
    padding: 1rem

.error-page__emoji
    font-size: 5rem
    text-align: center
    display: block